.App {
  text-align: center;
}

.app-layout {
  margin-top: 45px;
  flex: 1;
}

.app-city-list-wrapper{
  margin: auto;
}

.app-edit-city-input {
  margin-bottom: 10px;
  margin-top: 10px;
}

.app-city-name-header {
  margin: 10px;
  font-weight: bold;
  font-size: 18px;
  display: inline;
}






